---
BasedOnStyle: Google
DerivePointerAlignment: 'false'
PointerAlignment: Left
BinPackArguments: false
AllowAllArgumentsOnNextLine: false
AlignAfterOpenBracket: BlockIndent
ContinuationIndentWidth: 2

...
